<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpf.tools">

    <!-- permission -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.permission.PermissionActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.navigation.NavigationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.magicIndicator.IndicatorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.banner.BannerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.networkdemo.NetworkActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.widgets.recyclerviewdemo.RecyclerViewActivity"
            android:theme="@style/AppTheme" />
        <!-- <activity android:name=".feature.dbdemo.litepal.LitepalDbActivity" /> -->
        <activity android:name=".feature.login.LoginActivity" />
        <!-- <activity android:name=".feature.dbdemo.room.ArticleActivity" /> -->
        <!-- <activity android:name=".feature.dbdemo.room.DbDataPagingActivity" /> -->
        <!-- <activity android:name=".feature.dbdemo.room.LocalDataPagingActivity" /> -->
        <activity android:name=".feature.dbdemo.DbActivity" />
        <activity android:name=".feature.fragments.FragmentDoubleListActivity" />
        <activity
            android:name=".feature.collapsingToolbar.CollapsingToolActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".feature.customview.drawOneCircle.CustomViewsActivity" />
        <activity android:name=".feature.customview.drawOneCircle.ShowCustomViewActivity"></activity>


        <service
            android:name=".feature.notification.ToolsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".feature.notification.ToolsFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>